<body id="welcome-index">
  <div class="container header align-center center">
    <h1><a href="#" class="logo">Bandturo</a></h1>
    <p>Tour Booking for Independent Musicians</p>
  </div>
  <div class="container form-container">
    <div class="row">
      <%= render 'form' %>
    </div>
  </div>
</body>
