<body id="customer-index">
  <div class="container header align-center center">
    <h1><a href="#" class="logo">Bandturo</a></h1>
    <p>Tour Booking for Independent Musicians</p>
  </div>
  <div class="top-cushion container center">
    <h5>Artists/Bands</h5>
    <hr />
    <div class="row">
      <% @customers.each do |c| %>
        <div class="band_links col s4 l4 offset-by-6">
        	<div class="col s6 l6">
          	<p><%= link_to "#{c.band_name.upcase}", customer_path(c) %></p>
          </div>
          <div class="col s6 l6"> 
          	<p><%= button_to "X", customer_path(c), method: :delete, class: "delete-button" %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>