@import "materialize";


// Background//

#onesheet {
  background-color: #c9e0ec;
}

// Row //


// Logo //

.one-sheet-logo,
.one-sheet-sounds-like {
  margin-top: 30px; 
}

body .one-sheet-logo {
	margin-bottom: 10%;
}

.one-sheet-logo h1 {
	font-family: 'Petit Formal Script', cursive;
  font-size: 37pt;
  font-weight: 300;
	margin-top: 20px;
}


// Main Photo//

#onesheet .one-sheet-main-photo {
  padding: 0;
  margin-top: -125px;
}

#onesheet .one-sheet-main-photo img {
  padding: 0;
  margin: 0;
}

// Sounds Like //


.one-sheet-sounds-like h5 {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 18pt;
	font-weight: 200;
	color: #616161;
	line-height: 120%;
  text-decoration: underline;
  padding-top: 70px;
}

.one-sheet-sounds-like li {
  font-family: 'Oswald', sans-serif;
	font-size: 14pt;
	font-weight: 200;
	color: #616161;
	line-height: 150%;
}

.one-sheet-sounds-like h5,
.one-sheet-sounds-like li {
  text-align: center;
}


// Side Photos //

#onesheet .side-photos {

}

// Bio //

.artist-bio {
	background-color: #fff;
}

.artist-bio p {
  font-family: 'Josefin Sans', sans-serif;
  padding: 15px 0 15px 0;
}


// Misc Photo 1 //

#misc_photo1 {

}

// Misc Photo 2 (Bottom Left) //

#onesheet .one-sheet-misc-2 {
  // align-content: center;
  // padding-right: 0;
}

// Press Links //

#onesheet .one-sheet-press-links {
  background-color: #dbdbdb;
  height: 150px;
  padding: 0;
}

#onesheet .press-link-triangle {
	height: 150px;
  padding: 0;
}

#onesheet .press-links-row {
  // padding-left: 40px;
}

// Icons //

#onesheet .one-sheet-icons {
}

#onesheet .one-sheet-icon {
  padding: 0;
}


// Phone //

.phone {
  font-family: 'Cabin', sans-serif;
  padding-top: 10px;
}


