<body id="thanks">
  <div class="container header align-center center">
    <h1><a href="#" class="logo">Bandturo</a></h1>
    <p>Tour Booking for Independent Musicians</p>
  </div>
  <div class="container center">
    <br />
    <br />
    <br/ >
    <h5>We got your form. Hell yea.</h5>
  </div>
</body>